* {
    padding: 0px;
    margin: 0px;
}

body {
    color: white;
    background-color: rgb(51, 1, 190);
    font: normal 15pt arial;
}
header {
    text-align: center;
    margin-top: 100px;
}

section {
    width: 500px;
    background: rgb(252, 252, 252);
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);
    color: black;
}
.numeros{
    padding: 10px;
    padding-top: 20px;
    display: inline-block
}
.butao{
    display: inline;
}
.tabuada{
    padding: 10px;
}

footer {
    text-align: center;
    padding-top: 10px;
    font-style: italic; 
}